In [1]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])

In [2]:
alunos

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
1   Cátia     27    F    2.5     False
2   Denis     56    M    5.0     False
3    Beto     32    M   10.0      True
4   Bruna     42    F    8.2      True
5    Dara     21    F    7.0      True
6  Carlos     19    M    6.0     False
7   Alice     35    F    5.6     False

In [11]:
selecao = (columns['Nome'] ) & (Aprovado['True'])

NameError: name 'columns' is not defined

In [15]:
selecao = alunos['Aprovado'] ==True
aprovados = alunos[selecao]
aprovados

Empty DataFrame
Columns: [Nome, Idade, Sexo, Notas, Aprovado]
Index: []

In [16]:
selecao = (alunos.Aprovado == True) & (alunos.Sexo == 'F')
aprovadas = alunos[selecao]
aprovadas

Empty DataFrame
Columns: [Nome, Idade, Sexo, Notas, Aprovado]
Index: []

In [18]:
selecao = (dados['Idade'] == 10) | (dados['Idade'] == 15) | (dados['Idade'] = > 40)
n2 = dados[selecao].shape[0]
n2

SyntaxError: invalid syntax (<ipython-input-18-bac3c77882e3>, line 1)