In [7]:
import pandas as pd

In [8]:
data = [[1,2,3], [4,5,6], [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
list('321')

['3', '2', '1']

In [15]:
df = pd.DataFrame(data, list('321'), list('zyx'))
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

##organisando o data com o comando sort, repare que ele coloca o data na Ã³rdem 1 2 3

In [16]:
df.sort_index(inplace = True)

In [17]:
df

   z  y  x
1  7  8  9
2  4  5  6
3  1  2  3

In [22]:
df.sort_values(by = 'x', inplace = True)
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

In [23]:
df.sort_values(by = ['x','y'], inplace = True)
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

In [24]:
df.sort_index()
df.sort_index(axis = 1)
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9